* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    text-emphasis: none;
    color: inherit
}


nav {
    display: flex;
    justify-content: space-between;
    padding: 25px 15px;

    .desktop-menu {
        padding-right: 3vw;
        .link {
          padding: 15px;
          font-family: "Barlow";
          color: white;
          font-weight: 600;
        }
        #contact {
            background-color: #fff;
            color: black;
            padding: 10px 20px;
            border-radius: 20px;;
            margin-left: 20px;;
            font-family: "Fraunces";
        }

        #contact:hover {
            background-color: #82cffa;
            color: white;
        }
    }

    .hamburger {
        cursor: pointer;
        margin-top: -5px;
        .bar {
            width: 25px;
            height: 3px;
            margin: 5px auto;
            -webkit-transition: all 0.3 ease-in-out;
            transition: all 0.3 ease-in-out;
            background-color: #fff;
            color: white;
        }
    }
}

#transform {
      a:hover {
        text-decoration: underline hsl(51, 100%, 49%) solid ;
        text-decoration-thickness: 3px;
    }
}

#standout {
    a:hover {
      text-decoration: underline hsl(7, 99%, 70%) solid ;
      text-decoration-thickness: 3px;
    }
}
.landing {
    text-align: center;
    color: white;
    font-family: "Fraunces";
    letter-spacing: 4px;
    font-size: 4rem;
    margin-top: 10vh;
    h1 {
        padding-bottom: 10vh;
    }
}

footer {
    background-color: #9ed1c5;
    color: hsl(168, 34%, 41%);
    text-align: center;
    .footer-links {
        .footer-link:hover{
          color: white;
        }
    }

    .social {
        color:#2C7566;
    }
    .social:hover {
        color: white;    
    }
}
  
@media screen and (max-width: 750px) {
    header {
        display: block;
        background: url('images/mobile/image-header.jpg') no-repeat center/100% ;
        width: 100vw;
        height: 540px;

        .desktop-menu {
           display: none;
        }
        .hamburger {
            cursor: pointer;

            .bar {
                display: block;
                width: 25px;
                height: 3px;
                margin: 5px auto;
                -webkit-transition: all 0.3 ease-in-out;
                transition: all 0.3 ease-in-out;
                color: white;
            }
        }

        .hamburger.active .bar:nth-child(2){
            opacity: 0;
        }
        .hamburger.active .bar:nth-child(1){
            transform: translateY(8px) rotate(45deg);
        }
        .hamburger.active .bar:nth-child(3){
            transform: translateY(-8px) rotate(-45deg);
        }

    }

    .landing {
        font-size: 3rem;
    }

    .info {
        
        .info-img-wrapper {
            display: block;
            width: 100vw;
            height: 300px;;
        }
        #transform-img-wrapper {  
            background: url('images/mobile/image-transform.jpg') no-repeat center/100%;
            
        }
        #standout-img-wrapper {
            background: url('images/mobile/image-stand-out.jpg') no-repeat center/100%;
        }
        

        .learn {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: hsl(212, 27%, 19%);

            padding: 30px 20px;
            h2 {
                font-family: "Fraunces";
                font-size: 28px;
                padding: 50px;
            }
            p{
                font-family: "Barlow";
                font-size: 18px;
                line-height: 28px;
                padding: 30px;
            }
            .learn-more {
                font-family: "Fraunces";
                padding: 30px;
            }
        }

        .category {
            display: block;
            width: 100vw;
            height: 200px;
            text-align: center;
            padding-top: 400px;
            font-family: 'Fraunces';

            h3 {
                font-size: 2rem;
                margin-bottom: 25px;;
            }

            p {
                margin: 25px;
            }
        }
        .graphic-design {
            background: url('images/mobile/image-graphic-design.jpg') center/100%;
            color: hsl(167, 40%, 24%);
        }
        .photography {
            background: url('images/mobile/image-photography.jpg') center/100%;
            color: hsl(198, 62%, 26%);
        }
    }
    

    .testimonials {
        text-align: center;
        h3 {
            padding: 40px 20px;
            letter-spacing: 4px;;
            font-family: "Fraunces";
            color:  hsl(210, 4%, 67%);
        }
        .testimonials-container {
            display: flex;
            flex-direction: column;

            .testimonial-card {
                img {
                    border-radius: 50%;
                    height:100px;
                    width: 100px;
                    margin: 50px 40px 30px 40px;
                }

                .review {
                    margin: 20px;
                    font-family: "Barlow";
                    color: hsl(232, 10%, 55%);
                }

                .name {
                    font-family: "Fraunces";
                    padding: 10px;
                    font-size: 1.1rem;
                }

                .title {
                    color: hsl(210, 4%, 67%);
                }
            }
        }
    }

    .gallery {
        display: grid;
        height: 90vw;
        width: 100vw;
        grid-template-columns: 50vw 50vw;;
        margin-top: 90px;
        margin-bottom: 30px;
        .gallery-image {
            width: 100%;
        }

        #milkbottles {
            content: url('images/mobile/image-gallery-milkbottles.jpg');
            height: 50vw;
        }
        #orange {
            content: url('images/mobile/image-gallery-orange.jpg');
        }
        #cone {
            content: url('images/mobile/image-gallery-cone.jpg');
        }
        #sugar-cubes {
            content: url('images/mobile/image-gallery-sugar-cubes.jpg');
        }
    }

    footer {
        height: 200px;
        background-color: #9ed1c5;
        color: hsl(168, 34%, 41%);
        text-align: center;
        padding: 75px 15px;

        .footer-links {
            display: flex;
            justify-content: space-between;
            margin: 25px;

            .footer-link {
                font-size: 1.3rem;;
            }
        }

        .socials {
            display: flex;
            justify-content: space-evenly;
            margin: 75px 45px;
        }
    }

}

@media screen and (min-width: 751px) {
    header {
        background: url('images/desktop/image-header.jpg') no-repeat 0 0/100% ;
        width: 100vw;
        height: 55vw;

        .desktop-menu {
            display: block;
        }
        .hamburger {
            display: none;
        }
    }

    .landing {
        font-size: 3rem;
    }

    .info {
        display: grid;
        grid-template-columns: 50vw 50vw;
        grid-template-rows: auto;
        grid-template-areas: "transform-info transform-img"
                             "standout-img standout-info"
                             "graphic-design photography";
        #transform {
            grid-area: transform-info;
        }
        #standout {
            grid-area: standout-info;
        }
        .info-img-wrapper {
            display: block;
            width: 50vw;
            height: 310px;
        }
        #transform-img-wrapper {  
            background: url('images/desktop/image-transform.jpg') no-repeat center/100%;
            grid-area: transform-img;
        }
        #standout-img-wrapper {
            background: url('images/desktop/image-stand-out.jpg') no-repeat center/100%;
            grid-area: standout-img;
        }
        #graphic-design {
            grid-area: graphic-design;
        }
        #photography {
            grid-area: photography;
        }
        .learn {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: hsl(212, 27%, 19%);

            padding: 30px 20px;
            h2 {
                font-family: "Fraunces";
                font-size: 28px;
                padding: 10px;
                text-align: center;
            }
            p{
                font-family: "Barlow";
                font-size: 18px;
                line-height: 28px;
                padding: 0px;
                text-align: center;
            }
            .learn-more {
                font-family: "Fraunces";
                padding-top: 20px;
                font-size: .9rem;
                text-align: center;
            }
        }

        .category {
            display: block;
            width: 50vw;
            height: 300px;
            text-align: center;
            padding-top: 0px;
            font-family: 'Fraunces';

            h3 {
                font-size: 2rem;
                margin-bottom: 25px;;
                margin-top: 170px;
            }

            p {
                margin: 15px 5vw;
            }
        }
        .graphic-design {
            background: url('images/desktop/image-graphic-design.jpg') center/100%;
            color: hsl(167, 40%, 24%);

        }
        .photography {
            background: url('images/desktop/image-photography.jpg') center/100%;
            color: hsl(198, 62%, 26%);
        }
    }
    

    .testimonials {
        text-align: center;
        h3 {
            padding: 40px 20px;
            letter-spacing: 4px;;
            font-family: "Fraunces";
            color:  hsl(210, 4%, 67%);
        }
        .testimonials-container {
            display: flex;
            flex-direction: column;
            margin: 0 10vw;
            .testimonial-card {
                img {
                    border-radius: 50%;
                    height:100px;
                    width: 100px;
                    margin: 50px 40px 30px 40px;
                }

                .review {
                    margin: 20px 100px;;
                    font-family: "Barlow";
                    color: hsl(232, 10%, 55%);
                    
                }

                .name {
                    font-family: "Fraunces";
                    padding: 10px;
                    font-size: 1.1rem;
                }

                .title {
                    color: hsl(210, 4%, 67%);
                }
            }
        }
    }

    .gallery {
        display: grid;
        width: 100vw;
        grid-template-columns: 25vw 25vw 25vw 25vw;
        margin-top: 90px;
        .gallery-image {
            width: 100%;
        }

        #milkbottles {
            content: url('images/desktop/image-gallery-milkbottles.jpg');
    
        }
        #orange {
            content: url('images/desktop/image-gallery-orange.jpg');
        }
        #cone {
            content: url('images/desktop/image-gallery-cone.jpg');
        }
        #sugar-cubes {
            content: url('images/desktop/image-gallery-sugarcubes.jpg');
        }
    }

    footer {
        height: 200px;
        padding: 100px 15px;

        .footer-links {
            display: flex;
            justify-content: space-between;
            margin: 25px 25vw;

            .footer-link {
                font-size: 1.3rem;;
            }
        }

        .socials {
            display: flex;
            justify-content: space-evenly;
            margin: 75px 25vw;
        }
    }
    
}

@media screen and (min-width: 1000px) {
    .info {
        .learn {
            p{
                text-align: center;
                margin: 15px;
            }
        }
        .learn-more {
            margin-bottom: 0px;
        }
        .category {
            height: 400px;
            h3 {
                margin-top: 240px;;
            }
        }

    }

    .testimonials {
        .testimonials-container {
            flex-direction: row;
        }
    }
}
@media screen and (min-width: 1300px) {
    header {
        background: url('images/desktop/image-header.jpg') no-repeat 0 0/100% ;
        width: 100vw;
        height: 50vw;
        h1 {
            font-size: 4rem;
        }
    }

    .info {
        .info-img-wrapper {
            height: 520px;
        }
        .learn {
            margin: 100px;
        }

        .category {
            height: 550px;
            h3 {
                margin-top: 350px;;
            }
        }
    }
}

